{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profile{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('profil') }}{% endblock %}

{% block body %}
    <div id="profil"></div>
{% endblock %}
