{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Contact{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('contact') }}{% endblock %}

{% block body %}
    <div id="contact"></div>
{% endblock %}
