<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parent solo - Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('/img/FavIcon.png') }}" type="image/png"/>
    {{ encore_entry_link_tags('global') }}
    <meta http-equiv="Refresh" content="2; url={{ absolute_url(path('app_logout')) }}" />
</head>
<body>
    coucou
{# TODO mettre message de validation avant logout#}
</body>
